@import 'variables';

body {
  font-family: var(--font-roboto);
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-concert-one);
}

/* Links
--------------------------------------------- */
a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

a:focus {
  color: var(--link-focus-color);
  outline: none;
  text-decoration: underline;
}

a:active {
  color: var(--link-active-color);
}

/* Elements
--------------------------------------------- */

section {
  padding: 1.25rem;
}

//Maybe add some margin styles too
//add button global styles such as cursor pointer, ect..
