@import 'variables';
@import 'mixins';

body {
  font-family: var(--font-roboto);
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-concert-one);
  text-align: center;
  line-height: 1.3;
}

/* Links
--------------------------------------------- */

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

a:focus {
  color: var(--link-focus-color);
  outline: none;
  text-decoration: underline;
}

a:active {
  color: var(--link-active-color);
}

/* Elements
--------------------------------------------- */

/* Apply alternating sections bg color only to main sections */
main > section {
  @include alternating-sections(
    var(--background-1),
    var(--background-2),
    var(--background-3),
    var(--background-4),
    var(--background-5),
    var(--background-6),
    var(--background-7)
  );
}

section {
  padding: 1.25rem;
}

//Maybe add some margin styles too
//add button global styles such as cursor pointer, ect..
