@mixin button-styles(
  $bg-color,
  $text-color,
  $hover-bg-color,
  $hover-text-color
) {
  background-color: $bg-color;
  color: $text-color;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  transition: background-color 0.1s ease, transform 0.1s ease;
  display: inline-block;
  max-width: 12.5rem;
  width: 100%;
  margin: 0 auto 0.7rem auto;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: $hover-bg-color;
    color: $hover-text-color;
  }
}

// Helper function to convert pixels to ems
@function px-to-em($px) {
  @return $px / 16 * 1em;
}

// Mixin for media queries using em units
@mixin media-query($min-width-px) {
  @media (min-width: px-to-em($min-width-px)) {
    @content;
  }
}

// Mixin for predefined breakpoints
@mixin breakpoint($size) {
  @if $size == 'tablet' {
    @include media-query(768) {
      @content;
    }
  } @else if $size == 'desktop' {
    @include media-query(1024) {
      @content;
    }
  } @else if $size == 'large-desktop' {
    @include media-query(1200) {
      @content;
    }
  }
}
