@mixin button-styles(
  $bg-color,
  $text-color,
  $hover-bg-color,
  $hover-text-color
) {
  background-color: $bg-color;
  color: $text-color;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  transition: background-color 0.1s ease, transform 0.1s ease;
  display: inline-block;
  max-width: 12.5rem;
  width: 100%;
  margin: 0 auto 0.7rem auto;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: $hover-bg-color;
    color: $hover-text-color;
  }
}
