:root {
  // Common Variables
  --font-roboto: 'Roboto Flex', sans-serif;
  --font-concert-one: 'Concert One', cursive;
  --border-radius: 5px;
  --black: #000;
  --white: #fff;
}

/* Light theme */
body.light {
  // --background-color: #ffffff;
  // --text-color: #000000;
  --text-color: #333333;
  --inverted-text-color: #fff;
  --background-1: #ecf6f2;
  // --background-light-2: #e5fce7;
  --gray-dark: #333333;
  --green-light-1: #d7fae5;
  --green-light-2: #d2f5e0;
  --green-light-2-transparent: rgba(210, 245, 224, 0.9);
  --green-bright: #bcffd6;
  // --green-med: #94e8b4;
  --green-med: #83cc9f;
  --green-teal: #008080;
  --green-dark: #8dc9b3;
  --navigation-bg: #e8f7ee;

  // Home hero styles
  --hero-title-spans: #a8e6cf;
  --hero-description-bg: #d2f5e0;
  --hover-contact-us: #173f2a;
  --hover-text: #fff;
  --hover-portfolio: #36dbc8;
  --hero-portfolio-btn: #83cc9f;

  // Light theme Link
  --link-color: #333;
  --link-hover: #136a34;
  --link-visited-color: #333;
  --link-active-color: #cc6600;
  --link-focus-color: #cc6600;

  //HomePage SVG logos
  --homeSVGs: #2f4f4f;
}

/* Dark theme */
body.dark {
  // --background-color: #121212;
  --text-color: #e0e0e0;
  --inverted-text-color: #000;
  --background-1: #1c1c1c;
  // --background-light-2: #262626;
  --gray-dark: #cccccc;
  // --green-light-1: #173f2a;
  --green-light-1: #3b7856;
  --green-light-2: #285b40;
  --green-light-2-transparent: rgba(37, 84, 59, 0.9);
  --green-bright: #2f4f4f;
  --green-med: #3b7856;
  --green-teal: #4db6b6;
  --green-dark: #2c4d44;

  // Home Hero styles
  --navigation-bg: #e8f7ee;
  --hero-title-spans: #143725;
  --hover-contact-us: #83cc9f;
  --hover-text: #000;
  --hover-portfolio: #83cc9f;
  --hero-portfolio-btn: #a8e6cf;

  // Dark theme link colors
  --link-color: #bdf7e3;
  --link-hover: #33ffc5;
  --link-visited-color: #fff;
  --link-active-color: #ffcc66;
  --link-focus-color: #ffcc66;

  //HomePage SVG logos
  // --homeSVGs: #bcffd6;
  --homeSVGs: #83a891;
}
