:root {
  // Common Variables
  --font-roboto: 'Roboto Flex', sans-serif;
  --font-concert-one: 'Concert One', cursive;
  --border-radius: 5px;
  --black: #000;
  --white: #fff;
}

/* Light theme */
body.light {
  //Section background-color patterns
  --background-1: #d2f5e0e6;
  --background-2: #ecf6f2;
  // --background-2: #e5fce7;
  --background-3: #bcffd6;
  --background-4: #d7fae5;
  --background-5: #aee4c3;

  //To determine the color of those two last sections
  --background-6: #94e8b4;
  // --background-7: purple;

  //Specific setion bacground color (form & prefer to email)
  --form-background: #8dc9b3;
  --form-field-background: #d2f5e0e6;
  --prefer-email-bg: #d2f5e0e6;

  //General text color
  --text-color: #333333;
  --inverted-text-color: #fff;

  //Navigation
  --contact-cta: #005c62;
  --navigation-bg: #e8f7ee;

  // Home hero styles
  --hero-title-spans: #a8e6cf;
  --green-hero-home: #d2f5e0;

  //Buttons styles
  --green-teal: #008080;
  --hover-CTA-1: #173f2a;
  --hover-text: #fff;
  --hover-text: #000;
  --hover-portfolio: #36dbc8;
  --hero-portfolio-btn: #83cc9f;

  // Light theme Link
  --link-color: #333;
  --link-hover: #136a34;
  --link-visited-color: #333;
  --link-active-color: #cc6600;
  --link-focus-color: #cc6600;

  //HomePage SVG logos
  --homeSVGs: #2f4f4f;

  //Swipe Carousel
  --active-dot: #5a6665;
  --dot-bg-color: #d0e8d2;

  //Theme SVG
  --theme-bg: #d0e8d2;
  --theme-hover-bg: #b9ebbe;
  --theme-svg-fill: #000;
  --theme-svg-hover: #1b1b1b;
}

/* Dark theme */
body.dark {
  //Section background-color patterns
  --background-1: #25543be6;
  --background-2: #1c1c1c;
  --background-3: #2f4f4f;
  --background-4: #305c44;
  --background-5: #2e2f2e;

  //To determine the color of those two last sections
  --background-6: orange;
  // --background-7: purple;

  //Specific setion bacground color (form & prefer to email)
  --form-background: #2c4d44;
  --form-field-background: #25543be6;
  --prefer-email-bg: #25543be6;

  //General Text color
  --text-color: #e0e0e0;
  --inverted-text-color: #000;

  //Navigation
  --contact-cta: #005c62;
  --navigation-bg: #e8f7ee;

  //Home hero styles
  --hero-title-spans: #143725;
  --green-hero-home: #2a4f39;

  //Buttons styles
  --green-teal: #4db6b6;
  --hover-CTA-1: #83cc9f;
  --hover-portfolio: #83cc9f;
  --hero-portfolio-btn: #a8e6cf;

  // Dark theme link colors
  --link-color: #bdf7e3;
  --link-hover: #33ffc5;
  --link-visited-color: #fff;
  --link-active-color: #ffcc66;
  --link-focus-color: #ffcc66;

  //HomePage SVG logos
  // --homeSVGs: #bcffd6;
  --homeSVGs: #83a891;

  //Swipe Carousel
  --active-dot: #d0e8d2;
  --dot-bg-color: #5a6665;

  //Theme SVG
  --theme-bg: #333;
  --theme-hover-bg: #555;
  --theme-svg-fill: #fff;
  --theme-svg-hover: #ddd;
}

// TO erase soon
// --green-light-1: #305c44;
// --green-light-2: #2e2f2e;
// --green-bright: #2f4f4f;
// --green-med: #3b7856;
// --green-dark: #2c4d44;
