// @import 'variables';
@import 'mixins';

.hero {
  padding: 1.25rem;
  position: relative;
}

.heroBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.heroTitleContainer {
  position: relative;
  height: 13rem;
}

.heroTitle {
  color: var(--black);
  font-size: 2rem;
  position: relative;
}

.heroTitleSpan {
  position: absolute;
  display: inline-block;
  background-color: #a8e6cf;
  padding: 0.3rem;
}

.welcome {
  top: 0;
  left: 0;
}

.to {
  top: 3.5rem;
  left: 7rem;
}

.webycare {
  top: 7.1rem;
  left: 8rem;
}

.heroButtons {
  display: block;
  text-align: center;
  cursor: pointer;
}

.button {
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  display: block;
  max-width: 12.5rem;
  width: 100%;
  margin: 0 auto 0.7rem auto;
}

.button:last-child {
  margin-bottom: 0;
}

.contactButton {
  background-color: var(--green-turquoise);
  color: var(--white);

  &:hover {
    background-color: var(--green-light-1);
    color: var(--black);
  }
}

.portfolioButton {
  background-color: var(--green-medium);
  color: var(--black);

  &:hover {
    background-color: var(--green-turquoise);
    color: var(--white);
  }
}

.descriptionBox {
  background-color: var(--green-light-2);
  padding: 1rem;
  max-width: 21rem;
}
