// @import 'variables';
@import '../mixins';

.hero {
  position: relative;
}

.heroBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
}

.heroTitleContainer {
  position: relative;
  height: 13rem;
}

.heroTitle {
  font-size: 2rem;
  position: relative;
}

.heroTitleSpan {
  position: absolute;
  display: inline-block;
  background-color: var(--hero-title-spans);
  padding: 0.3rem 0.5rem;
}

.welcome {
  top: 0;
  left: 0;
}

.to {
  top: 3.5rem;
  left: 7rem;
}

.webycare {
  top: 7.1rem;
  left: 8rem;
}

.heroButtons {
  display: block;
  text-align: center;
  cursor: pointer;
}

.contactButton {
  @include button-styles(
    var(--green-teal),
    var(--inverted-text-color),
    var(--hover-CTA-1),
    var(--hover-text)
  );
}

.portfolioButton {
  @include button-styles(
    var(--hero-portfolio-btn),
    var(--black),
    var(--hover-portfolio),
    var(--black)
  );
}

.button:last-child {
  margin-bottom: 0;
}

.contactButton {
  &:hover {
    background-color: var(--hover-CTA-1);
    color: var(--hover-text);
  }
}

.portfolioButton {
  &:hover {
    background-color: var(--hover-portfolio);
    color: var(--black);
  }
}

.descriptionBox {
  background-color: var(--background-1);
  padding: 1rem;
  max-width: 21rem;

  p {
    background-color: var(--green-hero-home);
    padding: 0.5rem;
  }
}

.buttonText {
  display: inline-block;
}
