// @import 'variables';
@import '../mixins';

.hero {
  position: relative;
  color: var(--text-color);
}

.heroBackground {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
}

.heroTitleContainer {
  position: relative;
  height: 13rem;
}

.heroTitle {
  color: var(--text-color);
  font-size: 2rem;
  position: relative;
}

.heroTitleSpan {
  position: absolute;
  display: inline-block;
  background-color: var(--hero-title-spans);
  padding: 0.3rem 0.5rem;
}

.welcome {
  top: 0;
  left: 0;
}

.to {
  top: 3.5rem;
  left: 7rem;
}

.webycare {
  top: 7.1rem;
  left: 8rem;
}

.heroButtons {
  display: block;
  text-align: center;
  cursor: pointer;
}

// .button {
//   padding: 0.625rem 1.25rem;
//   border-radius: 0.5rem;
//   transition: background-color 0.1s ease, transform 0.1s ease;
//   display: inline-block;
//   max-width: 12.5rem;
//   width: 100%;
//   margin: 0 auto 0.7rem auto;
//   text-transform: uppercase;
// }

.button {
  @include button-styles(
    var(--green-teal),
    var(--inverted-text-color),
    var(--hover-contact-us),
    var(--hover-text)
  );
}

.contactButton {
  @include button-styles(
    var(--green-teal),
    var(--inverted-text-color),
    var(--hover-contact-us),
    var(--hover-text)
  );
}

.portfolioButton {
  @include button-styles(
    var(--hero-portfolio-btn),
    var(--black),
    var(--hover-portfolio),
    var(--black)
  );
}

.button:last-child {
  margin-bottom: 0;
}

.contactButton {
  background-color: var(--green-teal);
  color: var(--inverted-text-color);

  &:hover {
    background-color: var(--hover-contact-us);
    color: var(--hover-text);
  }
}

.portfolioButton {
  background-color: var(--hero-portfolio-btn);
  color: var(--black);

  &:hover {
    background-color: var(--hover-portfolio);
    color: var(--black);
  }
}

.descriptionBox {
  background-color: var(--green-light-2-transparent);
  padding: 1rem;
  max-width: 21rem;

  p {
    background-color: var(--green-hero-home);
    padding: 0.5rem;
  }
}

.buttonText {
  display: inline-block;
}
