@import '../mixins';

.our-process-section {
  .see-more {
    text-align: center;
  }

  a {
    @include button-styles(
      var(--green-teal),
      var(--inverted-text-color),
      var(--hover-CTA-1),
      var(--hover-text)
    );
    max-width: 15rem;
    display: block;
    margin: 2rem auto;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    gap: 1.8rem;
    p {
      display: inline;
    }
  }
}

.step-icon {
  svg {
    width: 2rem !important;
    height: 2rem !important;
  }
  svg path {
    fill: var(--homeSVGs) !important;
  }
}
