@import '../mixins';

.services-section {
  h2 {
    padding-bottom: 3rem;
  }
  li {
    padding-bottom: 2rem;
  }

  a {
    @include button-styles(
      var(--green-teal),
      var(--inverted-text-color),
      var(--hover-CTA-1),
      var(--hover-text)
    );
    max-width: 15rem;
    display: block;
    margin: 2rem auto;
  }
}

.svg-icon {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}

.svg-icon path {
  fill: var(--homeSVGs) !important;
}
