@import '../mixins';

.section {
  background-color: var(--background-1);

  p {
    max-width: 26.25rem;
  }

  a {
    @include button-styles(
      var(--green-teal),
      var(--inverted-text-color),
      var(--hover-contact-us),
      var(--hover-text)
    );
    max-width: 15rem;
    display: block;
    margin: 2rem auto;
  }
}

.imageWrapper {
  width: 8rem;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
}
